
/*  =============
    Box Sizing should be inherited by all elements.
    =============
*/
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

/*  =============
   General style rules.
    =============
*/

body {
    background-color: rgb(136, 136, 158);
    margin: 5px auto;
    font-weight: 900;
    font-size: 2em;
}

.container{
    width: 96%;
    margin: 4px auto;
    /* border: 2px solid black; */
    height: 550px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
input[type='text']{
    height: 100px;
}
/* =============
    Media Queries
   =============
*/

@media screen and (min-width:650px){
    body{
        background-color: red;
    }
}

div[class *="number"]{
    display: flex;
    margin: 15px 0px;
    /* border: 2px solid red; */
    flex-direction: column;
    flex: 2 0 0;
}
div[class ^= "row"]{
    /* border: 2px solid blue; */
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    margin: 4px;
}
div[class *="row"] button{
    flex-basis: 20%;
    background-color: rgba(255, 255, 255, 0.815);
    border: 2px inset rgb(0, 2, 128);
}
