
/*  =============
    Box Sizing should be inherited by all elements.
    =============
*/
html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

/*  =============
   Main style rules.
    =============
*/

body {
    background-color: aqua;
    margin: 5px auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid red;
}

.input{
    height: 2em;
    width: 96%;
    margin: 0 auto;
    background-color: white;
}
.input, .main{
    flex-basis: 100%;
    border: 2px solid green;
}



